@import "../../../App.scss";
.country-tablestats {
  h1 {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: $black;
    padding: 20px;
    font-family: $Bold;
  }
  .country-datatable {
    margin: 20px 15px;
    border-spacing: 0;
    background-color: $white;
    border-radius: 3px;
    animation: scaley 1s normal forwards ease-in-out;
    width: 100%;
    thead {
      tr {
        background-color: $background-totalcaseresult;
        border-radius: 3px;
        th {
          text-align: right;
          padding: 10px;
          white-space: nowrap;
          font-size: 14px;
          font-family: $Bold;
        }
        .country {
          color: $active-text-color;
          text-align: left;
        }
        .confirmed {
          color: $background-totalcaseactive;
        }
        .recovered {
          color: $background-totalcaserecovered;
        }
        .deceased {
          color: $background-totalcasedeath;
        }
        .active {
          color: $active-text-color;
        }
        .update {
          color: $last-updated;
        }
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background-color: $background-colortable;
        }
        border-radius: 3px;
        td {
          text-align: right;
          padding: 10px;
          font-size: 14px;
          font-size: 14px;
          text-transform: uppercase;
          font-family: $SemiBold;
          @media #{$mobile_max} {
            font-size: 12px;
          }
          &:first-child {
            text-align: left;
            font-family: $Bold;
            color: $labelcolor;
          }
          .cases-wrapper {
            display: flex;
            justify-content: flex-end;
            .delta-confirmed,
            .delta-recovered,
            .delta-deaths {
              font-size: 10px;
              font-family: $Bold;
              color: #fff;
              background: $background-totalcaseactive;
              border-radius: 4px;
              margin-right: 5px;
              padding: 5px;
            }
            .cases-confirmed,
            .cases-recovered,
            .cases-deaths {
              width: 60px;
            }
            .delta-recovered {
              background: $background-totalcaserecovered;
            }
            .delta-deaths {
              background: $background-totalcasedeath;
            }
          }
        }
      }
    }
  }
}
